.navbar
  %h3
    = link_to 'ApetsLyfe', root_path, class: 'nav-header underline'
  .links
    = link_to 'New Post', new_photo_post_path
    = link_to 'All Posts', photo_posts_path
    = link_to 'My Animals'
  .nav
    - if user_signed_in?
      %li
        = link_to 'Sign Out', destroy_user_session_path, method: :delete
      %li.dropdown
        %button.dropbtn
          My Account
          %i{class:"fa fa-caret-down"}

        .dropdown_content#nav_dropdown
          = link_to 'My Profile', user_profile_path(current_user)
          = link_to 'Nothing YEt'
    - else
      %li
        = link_to 'Sign In', new_user_session_path, class: 'underline'
      %li
        = link_to 'Sign Up', new_user_registration_path, class: 'underline'
