.photobox
  .main
    %li.hero-photo{style: "background-image: url(#{random_photo.image.url(:medium)});"}
  .small
    %li{style: "background-image: url(#{random_photo.image.url(:medium)});"}
    %li{style: "background-image: url(#{random_photo.image.url(:medium)});"}
    %li{style: "background-image: url(#{random_photo.image.url(:medium)});"}
    %li{style: "background-image: url(#{random_photo.image.url(:medium)});"}
