- if @post.length > 0
  = render 'parts/photobox'


%h1 Listing animals

%table
  %thead
    %tr
      %th Name
      %th User
      %th Dob
      %th Species
      %th
      %th
      %th

  %tbody
    - @animals.each do |animal|
      %tr
        %td= animal.name
        %td= animal.user.user_name
        %td= animal.dob
        %td= animal.species
        %td= link_to 'Show', animal
        %td= link_to 'Edit', edit_animal_path(animal)
        %td= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Animal', new_user_animal_path
