.image_grid
  - @posts.each do |post|
    .card
      .user_name
        = post.user.user_name
      .pet_photo
        = link_to image_tag(post.image.url(:medium)), photo_post_path(post)
      .caption
        = post.caption
        %i{class: 'fa fa-heart'}
      .comment_section
        - if post.comments
          = render 'comments/comment', post: post
        = render 'comments/form', post: post, user: current_user
