.row
  %ul.image-grid.square
    - @posts.each do |post|
      %li.image.box.overlay.gray{'style': "background-image:url(#{post.image.url(:medium)})"}
        %ul.image-info
          %li.hidden-username
            %h4
              = post.user.user_name
          %li
            = link_to photo_post_path(post), class: "post#{post.id}_link" do
              %i.fa.fa-search.fa-2x{class: 'search'}

          %li
            %i.fa.fa-heart.fa-2x.heart
            = post.likes.length
