%h2 View Post
.card
  = image_tag @photo_post.image.url(:medium)
  .user-caption
    = @photo_post.user.user_name
    = @photo_post.caption
    %div{id:"photo_post_#{@photo_post.id}_likes"}
      = render partial: 'likes', locals: {photo_post: @photo_post}
  .comments{id: "comments_#{@photo_post.id}"}
    - if @photo_post.comments
      = render @photo_post.comments, post: @photo_post
  = render 'comments/form', post: @photo_post, user: current_user

  .links
    - if @photo_post.user_id == current_user.id
      = link_to 'Edit Post', edit_photo_post_path(@photo_post)
