!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PetSite
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      = render 'parts/navbar'
      = render 'parts/flash'
      %section
        -if controller_name == 'home' && @post.length > 1
          = render 'parts/photobox'
        = yield
